<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :first_name, class: "block text-white text-sm font-medium mb-2" %>
    <%= form.text_field :first_name, class: "w-full p-2 bg-white text-black border border-gray-500 rounded" %>
  </div>

  <div class="mb-4">
    <%= form.label :last_name, class: "block text-white text-sm font-medium mb-2" %>
    <%= form.text_field :last_name, class: "w-full p-2 bg-white text-black border border-gray-500 rounded" %>
  </div>

  <div class="mb-4">
    <%= form.label :uin, class: "block text-white text-sm font-medium mb-2" %>
    <%= form.text_field :uin, class: "w-full p-2 bg-white text-black border border-gray-500 rounded" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary bg-blue-600 text-white hover:bg-blue-800" %>
  </div>
<% end %>
