<p style="color: green"><%= notice %></p>

<% content_for :title, "Students" %>

<h1>Students</h1>
<h2>
  <%= link_to "Go to Practice Problems", practice_problems_path, class: "btn btn-primary btn-lg" %>
</h2>

<div id="students">
  <% @students.each do |student| %>
    <%= render student %>
    <p>
      <%= link_to "Show this student", student %>
    </p>
  <% end %>
</div>

<%= link_to "New student", new_student_path %>
