<div class="mt-6 p-4 border border-blue-500 bg-gray-700 text-left">
  <h3 class="text-lg font-bold mb-2">Debug Information:</h3>
  <% if defined?(@debug_info) && @debug_info.present? %>
    <pre class="bg-gray-800 p-2 rounded text-gray-300 text-sm overflow-auto"><%= @debug_info %></pre>
  <% elsif session[:debug_info].present? %>
    <pre class="bg-gray-800 p-2 rounded text-gray-300 text-sm overflow-auto"><%= session[:debug_info] %></pre>
  <% else %>
    <p>No debug information available.</p>
    <% if @question.present? %>
      <div class="mt-2">
        <h4 class="text-md font-bold">Question Data:</h4>
        <pre class="bg-gray-800 p-2 rounded text-gray-300 text-sm overflow-auto"><%= JSON.pretty_generate(@question) rescue @question.inspect %></pre>
      </div>
    <% end %>
  <% end %>
</div>

<div class="fixed bottom-0 left-0 p-4 bg-gray-800 text-white text-sm z-50 max-w-full overflow-x-auto">
  <h4 class="font-bold">Debug Info</h4>
  <% if @question %>
    <div>Category: <%= @category %></div>
    <div>Input Fields: <%= @question[:input_fields]&.map { |f| f[:key] }&.join(', ') %></div>
    
    <% if @question[:debug_info] %>
      <div class="text-green-400"><%= @question[:debug_info] %></div>
    <% else %>
      <% if @question[:input_fields]&.any? { |f| f[:type] == "radio" } %>
        <% field = @question[:input_fields].find { |f| f[:type] == "radio" } %>
        <% correct_value = @question[:answer] %>
        <% index = field[:options]&.index { |opt| opt[:value] == correct_value } %>
        <% letter = index ? ('A'.ord + index).chr : '?' %>
        <div>Answer: <%= letter %></div>
      <% else %>
        <div>Answer: <%= @question[:answer].inspect %></div>
      <% end %>
      <% if @question[:parameters] && @question[:parameters].is_a?(Hash) %>
        <div>Parameters: <%= @question[:parameters].inspect %></div>
      <% end %>
    <% end %>
  <% end %>
</div> 
