<h1 class="text-center">Settings</h1>

<!-- Check if @user is present -->
<% if @user.nil? %>
  <p>User not found. Please log in.</p>
<% else %>
  <p class="text-center">Edit your settings below:</p>

  <%= form_for(@user) do |f| %>
    <div class="container">
      <div class="form-group">
        <%= f.label :email, class: 'form-label' %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group text-center">
        <%= button_to 'Reset Data', reset_data_path, method: :post, class: 'btn btn-warning' %>
      </div>

      <div class="form-group text-center">
        <%= button_to 'Authenticate Teacher', authenticate_teacher_path, method: :post, class: 'btn btn-info' %>
      </div>

      <div class="form-group text-center">
        <%= f.submit 'Save Changes', class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="text-center">
  <%= link_to 'Back', students_path, class: 'btn btn-primary' %>
</div>
