<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for(:title) || "Practice Problem 216 App" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <!-- Include Tailwind and other stylesheets -->
  <%= stylesheet_link_tag :app %>

  <!-- Conditionally load login.css only on the login page -->
  <% if request.path.include?('/login') %>
    <%= stylesheet_link_tag 'login', 'data-turbolinks-track': 'reload' %>
  <% end %>

  <%= javascript_importmap_tags %>
</head>
<body>
  <main class="container mx-auto mt-28 px-5 flex">
    <%= yield %>
  </main>
</body>
</html>
